<% if(typeof errors != 'undefined') {%>
    <% errors.forEach(function(error){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%= error.msg %></strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }); %>
<% } %>

<!-- Registration Success Message -->
<% if( success_msg != "") { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= success_msg %></strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<!-- Registration Error Message -->
<% if( error_msg != "") { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= error_msg %></strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if( error != "") { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= error %></strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<!-- Doctor Add Success Message -->
<% if( doctor_add_success_msg != "") { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= doctor_add_success_msg %></strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<!-- Doctor Delete Success Message -->
<% if( doctor_delete_success_msg != "") { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= doctor_delete_success_msg %></strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<!-- Patient Add Success Message -->
<% if( patient_add_success_msg != "") { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= patient_add_success_msg %></strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<!-- Patient Delete Success Message -->
<% if( patient_delete_success_msg != "") { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= patient_delete_success_msg %></strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if( contract_update_success_msg != "") { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= contract_update_success_msg %></strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>