<%- include("../header") -%>
<div class="container">    
    <table id="table" data-toggle="table" data-search="true" class="table-bordered">
        <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Pharmacy Name </th>
              <th scope="col">Drug Name</th>
              <th scope="col">Alternate Pharmacy</th>
              <th scope="col">Alternate Pharmacy Address</th>
              <th scope="col">Alternate Pharmacy Contact</th>
          </tr>
          </thead>
          <tbody class="table-light"> 
            <% for (var i = 0; i < res.length; i++) {%>
                  <tr>
                  <th scope="row"><%=i+1%></th>
                  <td><%=res[i].name%></td>
                  <td><%=res[i].drug_name%></td>
                  <td><%=res[i].alternative_pharmacy%></td>
                  <td><%=res[i].address%></td>
                  <td><%=res[i].phone%></td>
                  </tr>
            <%};%>
        </tbody>
    </table>
</div>
