<%- include("../header") -%>
<div class="container">        
    <h2 class="table-title">Delete Contract</h2>   
    <%- include('../partials/messages'); %>
    <table id="table" data-toggle="table" data-search="true" class="table-bordered">
        <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Pharmacy Name</th>
              <th scope="col">Manufacturer</th>
              <th scope="col">Supervisor Name</th>
              <th scope="col">Description</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody class="table-light"> 
            <% for (var i = 0; i < res.length; i++) {%>
                  <tr>
                  <th scope="row"><%=i+1%></th>
                  <td><%=res[i].name%></td>
                  <td><%=res[i].pharm_co_name%></td>
                  <td><%=res[i].supervisor%></td>
                  <td><%=res[i].text%></td>
                  <td><%=res[i].start_date.toLocaleDateString("en-US")%></td>
                  <td><%=res[i].end_date.toLocaleDateString("en-US")%></td>
                  <td><a href="/contracts/delete/<%=res[i].pharm_id%>/<%=res[i].pharm_co_name%>" class="btn btn-danger btn-md" type="button">Delete</a></td>
                  </tr>
            <%};%>
        </tbody>
    </table>
</div>
