<%- include("../header") -%>
<div class="container">    
    <%- include('../partials/messages'); %>
    <table id="table" data-toggle="table" data-search="true" class="table-bordered">
        <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Pharmacy Name</th>
              <th scope="col">Manufacturer</th>
              <th scope="col">Supervisor Name</th>
              <th scope="col">Description</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody class="table-light"> 
            <% for (var i = 0; i < res.length; i++) {%>
                  <tr>
                  <th scope="row"><%=i+1%></th>
                  <td><%=res[i].name%></td>
                  <td><%=res[i].pharm_co_name%></td>
                  <td><%=res[i].supervisor%></td>
                  <td><%=res[i].text%></td>
                  <td><%=res[i].start_date.toLocaleDateString("en-US")%></td>
                  <td><%=res[i].end_date.toLocaleDateString("en-US")%></td>
                  <td><button class="btn btn-warning btn-md modal-popup" id="<%=i+1%>" 
                      data-pharm-id="<%=res[i].pharm_id%>" 
                      data-pharm-name="<%=res[i].name%>" 
                      data-pharm-co-name="<%=res[i].pharm_co_name%>"
                      data-supervisor="<%=res[i].supervisor%>"
                      data-text="<%=res[i].text%>"
                      data-start-date="<%=res[i].start_date%>"
                      data-end-date="<%=res[i].end_date%>"
                      data-toggle="modal" 
                      data-target="#updateContractModal">Update</button></td>
                  </tr>
            <%};%>
        </tbody>
    </table>
  
  <!-- Modal -->
  <div class="modal fade" id="updateContractModal" tabindex="-1" role="dialog" aria-labelledby="updateContractModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form name="contract-update-form" method="POST" action="/contracts/update">
          <div class="modal-header">
            <h5 class="modal-title" id="contractUpdateTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <!-- Hidden Row -->
              <input type="hidden" name="pharm_id" id="pharm_id">
              <input type="hidden" name="pharm_co_name" id="pharm_co_name">

              <!-- First Row -->
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="supervisor">Supervisor</label>
                  <input type="text" class="form-control" name="supervisor" id="supervisor" placeholder="Supervisor" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="text">Text</label>
                  <input type="text" class="form-control" name="text" id="text" placeholder="Text" required>
                </div>
              </div>
      
              <!-- Second Row -->
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="start_date">Start Date</label>
                    <input type="date" class="form-control" name="start_date" id="start_date" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="end_date">End Date</label>
                    <input type="date" class="form-control" name="end_date" id="end_date" required>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update Contract</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

